:root {
	--primary-color: #e50914;
	--background-color: #141414;
	--text-color: #e5e5e5;
	--text-color-2: #c3c3c3;
	--text-faded-color: #909090;
	--accent-color: #53b9c5;
}

@font-face {
	font-family: "Netflix Sans";
	src: url("../fonts/NetflixSans-Regular.otf") format("opentype");
}

* {
	margin: 0;
	padding: 0;

	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	font-weight: 400;
	font-family: "Netflix Sans", sans-serif;

	max-width: 100vw;
	overflow-x: hidden;
}

body {
	font-size: 1.6rem;
	line-height: 1.3;

	background-color: var(--background-color);
	color: var(--text-color);

	min-height: 100dvh;
	max-width: 100vw;

	overflow-x: hidden;
}

.container {
	padding: 0 5.6rem;
}

.btn {
	background-color: transparent;
	border: none;

	display: flex;
	align-items: center;
	justify-content: center;

	cursor: pointer;

	color: var(--text-color);
}
